@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
.dark{
margin: 0;
	background-color: #3f3d56;
  	Color:#ffffff;	
}
*/

.light{
	margin: 0;
	background-color:#ffffff ;
  	Color: #3f3d56;	
}

.content{
	max-width:1000px !important; 
}

.hero{
	padding-top: 10%;
}
.hero2{
	padding-top: 5%;
}

.section{
	padding-top: 10%;
}

.project{
	border-top:  1px solid black;
	border-bottom: 1px solid black;
}

.footer{
	padding-top: 15%;
}

#header{
	font-family: 'Montserrat', sans-serif ;
	background-color: #f2f2f2;
	font-weight: bold;
	z-index: 20;
	transition: all 0.3s;
	position: fixed;
	width: 100%;
	Color: #272F31;
	border-bottom: 2px solid #f2f2f2;

}

.scrollUp{
	transform: translateY(-56px);
}

.lockscroll{
	height: 100vh;
	overflow-y: hidden;
}

#navbarMenu{
  width: 100%;
  height:100%;
  background: #f2f2f2;
  position: fixed;
  text-align: center;
  transition: all 0.1s;
  transition-timing-function: ease;
  z-index: 10;
}

.highlight{
	color: #00BFA6;
}

.fit{
	width: 100%;
}

.verCenter{
	display: grid;
  	align-content: center; 
}

.horCenter{
	display: grid;
	justify-content: center;
}

h1{	font-size: clamp(50px,4vw,70px);font-weight: bold; font-family: 'Montserrat', sans-serif !important;}
h2{	font-size: clamp(30px,3vw,40px);font-weight: bold; font-family: 'Montserrat', sans-serif !important;}
h3{	font-size: clamp(20px,2vw,25px);font-weight: bold; font-family: 'Source Sans Pro', sans-serif !important;}
h4{	font-size: clamp(16px,1vw,20px);font-family: 'Source Sans Pro', sans-serif !important;}

a{color: #9696a0;text-decoration: none;}
a:hover { color: #00BFA6; text-decoration: none; }

.container{
    margin:0 auto;/*make it centered*/
}

.contact li{
	color: inherit;
  	display: inline;
}

.rightPad{
	padding-right: 30px;
}

.contact ul{
	padding-left: 0;
	padding-top: 20px;
	color: #3f3d56;
}

.card{
	background-color: inherit;
	overflow: hidden;
}

.caseTitle{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	position:sticky;
  	top:57px;
  	z-index: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.card:hover {
	opacity: 0.5;
	}

.mobile-margin { margin-top: 100px; }
