@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wdth,wght@62.5..100,100..900&family=Noto+Sans+Malayalam:wdth,wght@62.5..100,100..900;100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wdth,wght@62.5..100,100..900&family=Noto+Sans+Malayalam:wdth,wght@62.5..100,100..900&display=swap');

.light{margin: 0;}
.color-change{transition: background-color 1s;}
.section{padding-top: 10%;}
.subsection{padding-top: 5%;}
.carousel-indicators{z-index: 1;}

.project{
	border-top:  1px solid black;
	border-bottom: 1px solid black;
}

.footer{
	padding-top: 15%;
}

.bottomcenter{
	text-align: center;
}
.footer2{
	background-color: #000;
	color: #ffffff;
	height: 50vh;
	width: 100%;
    overflow: visible;
	z-index:3;
	position: relative;
}

.navbar{
	z-index:5;
	background-color: #ffffff;
	
}
.nav-links{
	z-index:20;
}

#header{
	
	transition: all 0.3s;
	position: fixed;
	width: 100%;
	border-bottom: 0.1px solid #757575;

}

.scrollUp{
	transform: translateY(-200px);
	
}

.hidden{
	display:none !important;
}

.lockscroll{
	height: 100vh;
	overflow-y: hidden;
}

#navbarMenu{
  width: 100%;
  height:100%;
  position: fixed;
  text-align: center;
  transition: all 0.1s;
  transition-timing-function: ease;
  background-color:#ffffff;
  z-index:4;
}

.highlight{
	color: rgb(34,184,111);
}
.highlight:hover { 
	color: rgb(34,184,111);
  }

  .highlight2{
	color: rgb(34,184,111);
}
.highlight2:hover { 
	color: rgb(34,184,111);
  }

  .highlight3{
	color: rgb(34,184,111);
}
.highlight3:hover{
	color: rgb(34,184,111);
}

.fit{
	width: 100%;
}

.verCenter{
	
	 
	display: grid;
	
  	align-content: center;
}
.verBottom{	 
	display: grid;
	
  	align-content: end;
}

.horCenter{
	display: grid;
	justify-content: center;
}


/*
h1{	font-size: 32px;font-weight: 600; font-family: 'Poppins', sans-serif !important; color: #000000;}
h2{	font-size: 20px;font-weight: 600; font-family: 'Poppins', sans-serif !important; color: #1a1b1f;}
h3{	font-size: 16px;font-weight: 400; font-family: 'Poppins', sans-serif !important; color: #1a1b1f;line-height:1.8;}
h4{font-family: 'Poppins', sans-serif !important;}
h5{	font-size: 64px;font-weight: 600; font-family: 'Poppins', sans-serif !important; -webkit-text-fill-color: #ffffff; -webkit-text-stroke-width: 1px;}
h6{	font-size: 32px;font-weight: 600; font-family: 'Poppins', sans-serif !important; -webkit-text-fill-color: #ffffff; -webkit-text-stroke-width: 1px;}
clamp(0.875rem, 1.5vw, 1rem);
*/
h0{font-size: 4vw; font-weight: 600; font-family: 'Poppins', sans-serif !important; color: #000;} 
h00{font-size: 3.5vw; font-weight: 400; font-family: 'Poppins', sans-serif !important; color: #000;} 

h01{font-size: 10vw; font-weight: 600; font-family: 'Poppins', sans-serif !important; color: #000;} 


h1{font-weight: 600; font-family: 'Poppins', sans-serif !important; color: #292929;} 
h3{font-weight: 500; font-family: 'Poppins', sans-serif !important; color: #0D0C21;} 
h5{font-weight: 400; font-family: 'Poppins', sans-serif !important; color:#0D0C21;}
h6{font-weight: 600; font-family: 'Lora' !important; color:#0D0C21;}   
h7{font-weight: 600; font-family: 'Lora' !important; color:#0D0C21;}   
p{font-weight: 100; font-family: 'Lora' !important; color:#0D0C21;}
semibold{font-weight:500 !important;}
.devnagari {font-family: 'Noto Sans Devanagari', sans-serif;}
.malayalam {font-family: 'Noto Sans Malayalam', sans-serif;}

sign{color: #a9abab;}


.container{
    margin:0 auto;/*make it centered*/
}


  
.contact li{
	color: inherit;
  	display: inline;
}

.rightPad{
	padding-right: 30px;
}

.contact ul{
	padding-left: 0;
	padding-top: 20px;
	color: #3f3d56;
}

.card{
	background-color: inherit;
	overflow: hidden;
}



.caseTitle{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	position:sticky;
  	top:57px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.card:hover {
	opacity: 0.5;
	}

.mobile-margin { padding-top: 150px;}
.mobile-margin-big { padding-top: 150px;}
.mobile-margin-small {padding-top:50px;}
.mobile-spacing{padding-top:80px;}

.fa-linkedin-in {
	color: rgb(34,184,111);
}

.fa-linkedin-in:hover {
	color: rgb(34,184,111);
	}

.fa-dribbble {
	color: rgb(34,184,111);
}

.fa-behance {
	color: rgb(34,184,111);
}

.fa-envelope {
	color: rgb(34,184,111);}

.fa-envelope:hover {
	color: rgb(34,184,111);
}




.chip{ 	display: inline-block; padding: 1vh 1vw 1vh 1vw; border-radius: 0.5vw;transition: background-color 1s ease;}

.mobile-chip{	display: inline-block; padding: 0.5vh 0.8vw 0.5vh 0.8vw; border-radius: 1vw; background-color: #95E3D1; color: #147860 !important;}


.top-buffer { margin-top:200px; }
.top-buffer-mid { margin-top:10vh; }
.bottom-buffer{margin-bottom:200px;}
.top-buffer-mobile{margin-top:100px;}
.topmost-buffer-mobile{margin-top:300px;}
.top-buffer-small{margin-top:5vh;}
.top-buffer-smaller{margin-top:2vh;}
.top-buffer-big{margin-top:20vh;}
.top-buffer-big2{margin-top:30vh;}
.bottom-buffer-mobile{margin-bottom:50px;}

.cursor{
	display: block;
	width: 10rem;
	height: 10rem;
	transform: scale(0) ;
	border-radius:100%;
	position: fixed;
	z-index:10;
	pointer-events: none;
	transition: transform 0.3s ease;
	
	mix-blend-mode: difference;
    background: white;
	}

.link-normal{transform:  translate(-50%,-50%) scale(0.1) ;}
.link-grow {transform:translate(-50%,-50%) scale(0.5);}
.link-grow-large {transform: translate(-50%,-50%) scale(1);}
.light-cursor{background: white;}


.nav-link:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 0%;
	position: absolute;
	background: #000;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
	
}

.nav-link:hover:after { width: 60%; left: 20%; }
.nav-link{color: #000000;text-decoration: none; position: relative;}
a{color: #000000;text-decoration: none; position: relative;}
a:hover { color: #000000;	text-decoration: none;}
.nav-link:hover { color: #000000;	text-decoration: none;}
.contact-link:hover { color:white !important;}



@media (max-width: 575.98px) {.container {max-width: 100%;}}
@media (min-width: 576px) and (max-width: 767.98px) {.container {max-width: 576px;}}
@media (min-width: 768px) and (max-width: 991.98px) {.container {max-width: 700px; }}
@media (min-width: 992px) and (max-width: 1199.98px) {.container {max-width: 900px;}}
@media (min-width: 1200px) and (max-width: 1599.98px) {.container {max-width: 1000px;}}
@media (min-width: 1600px) and (max-width: 2047.98px) {.container {max-width: 1200px;}}
@media (min-width: 2048px) {.container {max-width: 1600px;}}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

  .centered-container {
	height: 100vh; /* Full height of the viewport */
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #3f3d56;*/
	flex-direction: column; /* Arrange children in a column */
    position: relative; /* Required for positioning the image */

  }



.space {
    /* Centered content styling */
    text-align: center; /* Center text or other inline elements */
}

.lottiefile {
    position: absolute; /* Absolute positioning relative to the .centered-container */
    bottom: 0; /* Aligns the image to the bottom of the container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    margin: 10px 0; /* Optional: space from the bottom */
    max-width: 100px; /* Optional: adjust as needed */
}


.masonry {
	column-count: 4;
	column-gap: 1rem;
}
.masonry-item {
	break-inside: avoid;
	margin-bottom: 1rem;
	position: relative; /* Make sure the overlay is positioned correctly */
}
.masonry-item img {
	width: 100%;
	height: auto;
	display: block; /* Remove extra space below image */
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
	color: white;
	opacity: 0;
	transition: opacity 0.3s ease; /* Smooth transition */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1rem;
}
.masonry-item:hover .overlay {
	opacity: 1;
}
@media (max-width: 1024px) {
	.masonry {
		column-count: 3;
	}
}
@media (max-width: 768px) {
	.masonry {
		column-count: 2;
	}
}
@media (max-width: 576px) {
	.masonry {
		column-count: 1;
	}
}

.horizontal-scroll {
	overflow-x: auto;
	white-space: nowrap;
}
.horizontal-scroll img {
	display: inline-block;
	height: 250px; /* Set the desired height here */
	margin-right: 10px;
}

.fixed-height {
	/*height: 200px; /* Adjust as needed */
	overflow: hidden; /* Optional: to handle overflow content */
  }
  

  .hover-effect-disabled:hover {
    transform: none;
    box-shadow: none;
    transition: none;
}

.slide-up {animation: slideUp 3s ease forwards;}
        @keyframes slideUp {
			0% {
				opacity: 0;
				-webkit-transform: translateY(200px); /* Safari */
				transform: translateY(200px);
			}
			20% {
				opacity: 1;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
			80% {
				opacity: 1;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
			100% {
				opacity: 0;
				-webkit-transform: translateY(-200px);
				transform: translateY(-200px);
			}
        }

.change{ display: inline-block;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;}


  
    .fade-in {
		opacity: 0;
		transition: opacity 3s ease; 
	  }
  
	  .visible {
		opacity: 1;
	  }